<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Faction</a>
                <a href="" class="dropdown-item">By Unit Type</a>
                <a href="" class="dropdown-item">By Game Setting</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="40k-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Warhammer 40,000
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="40k-link">
                <a href="" class="dropdown-item">Space Marines</a>
                <a href="" class="dropdown-item">Imperium</a>
                <a href="" class="dropdown-item">Chaos</a>
                <a href="" class="dropdown-item">Xenos</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="aos-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Age of Sigmar
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="aos-link">
                <a href="" class="dropdown-item">Order</a>
                <a href="" class="dropdown-item">Death</a>
                <a href="" class="dropdown-item">Chaos</a>
                <a href="" class="dropdown-item">Desctruction</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-black mr-5" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Pre-Order</a>
                <a href="" class="dropdown-item">New</a>
                <a href="" class="dropdown-item">On Sale</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

    </ul>
</div>